{"filter":false,"title":".dockerignore","tooltip":"/Public-Githubs-Proj/docker-Proj/frontend/.dockerignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1607742504392,"hash":"c8f0e8ddbe3bbbcd641b38caf20a92faad2ff17c"}